{% extends 'base.html.twig' %}

{% block title %}Snowtricks - {{ trick.name }}{% endblock %}
{% block body %}

    <section class="container card border-primary" id="singleTrick">

        <div class="position-relative text-center my-sd-2 my-5 mx-auto">
            <img class="card-img-top rounded" src="{{ asset('assets/img/uploads/tricks/') ~ mainName }}"
                    alt="image" id="singleTrickImgTop">
            <h1 class="text-primary card-title bg-secondary position-absolute top-50 start-50 translate-middle p-2 rounded"
                style="--bs-bg-opacity: .7;">{{ trick.name }}</h1>
        </div>

        <div class="card-deck row mx-auto">

            {% if trick.media %}
                {% for oneMedia in trick.media|sort ((a, b) => a.typeMedia <=> b.typeMedia) %}
                    <div class="singleTrickMedias card mx-auto my-5 border-0" style="max-width: 18rem;">
                        {% if oneMedia.typeMedia == 1 %}
                            <img class="card-img-top singleTrickMedia" src="{{ asset('assets/img/uploads/tricks/') ~ oneMedia.name }}" class="singleTrickMedias my-3 mx-auto">
                            {% if app.user and app.user.isVerified == true %}
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('app_admin_tricks_delete_media', {id: oneMedia.id}) }}"><i class="fa-solid fa-trash-can m-3"></i></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <span class="singleTrickMedias my-3 mx-auto">
                                <iframe class="card-img-top singleTrickMedia" src="{{oneMedia.name}}"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </span>
                            {% if app.user and app.user.isVerified == true %}
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('app_admin_tricks_delete_media', {id: oneMedia.id}) }}"><i class="fa-solid fa-trash-can m-3"></i></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>Il n'y a pas encore d'image pour ce trick</p>
            {% endif %}

            <p class="card-text m-5">{{ trick.description }}</p>
            <div class="text-center">
                <span class="badge bg-primary p-2 m-2">Dernière modification : {{ trick.updatedAt | date('d/m/Y') }}</span>
                {% for eachGroup in trick.trickGroup %}
                    <span class="badge bg-primary p-2 m-2">Groupe : {{ eachGroup.name }}</span>
                {% endfor %}
            <div>
        </div>

        <div class="mb-5">
            {% if app.user and app.user.isVerified == true %}
                <hr class="w-75 mx-auto my-5 text-primary font-weight-bold">
                {% include "trick/_commentform.html.twig" %}
            {% endif %}
            <hr class="w-75 mx-auto my-5 text-primary font-weight-bold">
            {% for comment in comments %}
                <div class="row justify-content-between w-50 mx-auto my-3">

                    <div class="col-2 m-auto">
                        <img src="{{ asset('assets/img/uploads/avatars/mini/300x300-') ~ comment.author.avatar.name }}" class="w-100 rounded-circle">
                    </div>
                    <div class="col-8 d-flex border">
                        <p class="text-start my-auto">{{ comment.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
